.note-box {
  min-width: 264px;
  min-height: 240px;
  max-width: fit-content;
  padding: 25px 25px 20px 25px;
  border-radius: var(--border-radius-md);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.note-box.editing {
  position: relative;
  z-index: 2;
}

.note {
  font-family: var(--font-primary);
  font-size: var(--body-size-lg);
  font-weight: var(--font-weight-medium);
  line-height: 30px;
  min-height: 167px;
  color: var(--text-default-color);
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.note:hover {
  cursor: text;
}

.note::placeholder {
  font-family: var(--font-primary);
  font-size: var(--body-size-lg);
  font-weight: var(--font-weight-medium);
  line-height: 30px;
  color: var(--text-secondary-color);
}

.save-button {
  width: 20px;
  height: 20px;
  margin-left: auto;
  cursor: pointer;
}

.save-button img {
  width: 20px;
  height: 20px;
}

.savebutton.hidden {
  display: none;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.note-date {
  font-family: var(--font-secondary);
  font-size: var(--body-size-sm);
  font-weight: var(--font-weight-medium);
  color: var(--text-default-color);
}

.delete-modal-open-button {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.primary {
  background-color: var(--note-primary-color);
}

.secondary {
  background-color: var(--note-secondary-color);
}

.tertiary {
  background-color: var(--note-tertiary-color);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--overlay-color);
  z-index: 1;
  display: none;
}

.overlay.visible {
  display: block;
}
