.deleteConfirmationModal {
  font-family: var(--font-primary);
  font-weight: var(--font-weight-bold);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 6;
  width: 322px;
  height: 157px;
  border-radius: var(--border-radius-md);
  padding: 20px;
  background-color: var(--sidebar-color);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay-color);
  z-index: 5;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.deleteConfirmationModal h2 {
  font-size: var(--heading-size-sm);
  color: var(--text-default-color);
  margin-bottom: 5px;
}

.deleteConfirmationModal p {
  font-size: var(--body-size-sm);
  font-weight: var(--font-weight-bold);
  color: var(--text-default-color);
  line-height: 20px;
  margin-bottom: 40px;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
}

.cancelButton {
  font-weight: var(--font-weight-regular);
  font-size: var(--body-size-sm);
  color: white;
  background-color: var(--text-default-color);
  border-radius: var(--border-radius-lg);
  padding: 7px 9px;
  cursor: pointer;
}

.deleteButton {
  font-weight: var(--font-weight-regular);
  font-size: var(--body-size-sm);
  color: white;
  background-color: var(--danger-color);
  border-radius: var(--border-radius-lg);
  padding: 7px 9px;
  cursor: pointer;
}

.arrowIcon {
  position: relative;
  bottom: 8px;
  left: 150px;
}
