.deleteConfirmationModal {
  font-family: var(--font-primary);
  font-weight: var(--font-weight-bold);
}

.deleteConfirmationModal.hidden {
  display: none;
}

.modalContent {
  width: 176px;
  height: 152px;
  border-radius: var(--border-radius-md);
  padding: 15px;
  background-color: var(--sidebar-color);
  box-shadow: 0px 6px 10px var(--text-default-color);
}

.deleteConfirmationModal h2 {
  font-size: var(--heading-size-sm);
  margin-bottom: 6px;
}

.deleteConfirmationModal p {
  font-size: var(--body-size-sm);
  margin-bottom: 25px;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
}

.cancelButton {
  font-weight: var(--font-weight-regular);
  font-size: var(--body-size-sm);
  color: white;
  background-color: var(--text-default-color);
  border-radius: var(--border-radius-lg);
  padding: 7px 9px;
  cursor: pointer;
}

.deleteButton {
  font-weight: var(--font-weight-regular);
  font-size: var(--body-size-sm);
  color: white;
  background-color: var(--danger-color);
  border-radius: var(--border-radius-lg);
  padding: 7px 9px;
  cursor: pointer;
}

.arrowIcon {
  position: relative;
  bottom: 8px;
  left: 150px;
}
