.username,
.password {
  display: block;
  width: 320px;
  border: var(--input-color) 1px solid;
  border-radius: var(--border-radius-sm);
  padding: 16px;
  font-size: var(--body-size-md);
  color: var(--text-default-color);
}

.username::placeholder,
.password::placeholder {
  color: var(--input-color);
}

.username {
  margin-bottom: 30px;
}

.password {
  margin-bottom: 30px;
}

.submitButton {
  display: flex;
  width: 320px;
  height: 50px;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: var(--border-radius-sm);
  cursor: pointer;
}

.submitButton {
  background-color: var(--success-color);
  margin-bottom: 20px;
}

.submitIcon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}
