.item {
  display: flex;
  align-items: center;
  gap: 36px;
  width: 100%;
  padding: 0;
  border: none;
  background-color: var(--sidebar-color);
}

.icon {
  width: 32px;
  height: 32px;
}

.hoverIcon {
  transition: visibility 0.3s, opacity 0.3s ease-in-out;
}

.item:hover .hoverIcon {
  visibility: visible;
  opacity: 1;
}

.item:hover {
  background-color: var(--sidebar-hover-color);
  cursor: pointer;
}

.visible {
  visibility: visible;
  opacity: 1;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}
