form {
  width: 320px;
}

.submitIcon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.errorMessage {
  display: block;
  height: 18px;
  margin-bottom: 7px;
  font-size: var(--body-size-md);
  font-weight: var(--font-weight-regular);
  color: var(--danger-color);
  visibility: hidden;
  white-space: nowrap; /* Prevent text wrapping */
}

.errorMessage.visible {
  visibility: visible;
}
