.searchBar {
  display: flex;
  align-items: center;
}

.icon {
  width: 18px;
  height: 18px;
  margin-right: 11px;
}

.input {
  font-family: var(--font-primary);
  font-size: var(--body-size-xxl);
  color: var(--text-default-color);
}

.input::placeholder {
  color: var(--text-secondary-color);
}
