.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--sidebar-color);
}

.logoContainer {
  display: flex;
  align-items: center;
  margin-bottom: 75px;
}

.appNameIcon {
  margin-left: 20px;
}

.logo {
  margin-right: 20px;
}

h2 {
  width: 320px;
  font-weight: var(--font-weight-bold);
  font-size: var(--heading-size-lg);
  margin-bottom: 16px;
  color: black;
}

.username,
.password {
  display: block;
  width: 320px;
  border: var(--input-color) 1px solid;
  border-radius: var(--border-radius-sm);
  padding: 16px;
  font-size: var(--body-size-md);
  color: var(--text-default-color);
}

.username::placeholder,
.password::placeholder {
  color: var(--input-color);
}

.username {
  margin-bottom: 10px;
}

.password {
  margin-bottom: 30px;
}

.signUpButton {
  display: flex;
  width: 320px;
  height: 50px;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: var(--border-radius-sm);
  cursor: pointer;
}

.signUpButton {
  background-color: var(--success-color);
  margin-bottom: 20px;
}

.separator {
  display: flex;
  width: 320px;
  align-items: center;
  text-align: center;
  color: var(--input-color);
  margin-bottom: 20px;
}

.submitIcon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}
