.search-bar {
  display: flex;
  align-items: center;
}

.search-icon {
  width: 18px;
  height: 18px;
  margin-right: 11px;
}

.search-input{
  font-family: var(--font-primary);
  font-size: var(--body-size-md);
  color: var(--text-default-color);
}

.search-input::placeholder {
  color: var(--text-secondary-color);
}
